
.homepage{
    display: flex;
    height: 100%;
    font-family: 'Overpass', 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 21px;
    color: #676767;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: .025em;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    box-sizing: border-box;
    background: #b3d4fc;
    text-shadow: none;
}


#wpnb-bar {
    font-size: 14px;
    line-height: 0;
    color: #040502;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99999;
    background: #fdb715;
    text-align: center;
    height: auto;
    min-height: 33px;
    border-bottom: 0px solid transparent;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.35);
    padding: 5px;
}
#wpnbio-wrapper {
    position: relative;
    box-sizing: border-box;
    display: block;
    text-align: center;
}
.wpnbio-section {
    padding-top:4px;
    padding-bottom: 4px;
    box-sizing: border-box;
    display: block;
    text-align: center;
}
#wpnbio-description {
    line-height: 1.2;
    box-sizing: border-box;
}
#wpnbio-call-to-action {
    background-image: none;
    text-shadow: none;
    color: white;
    background-color: #434345;
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    text-decoration: none;
    vertical-align: baseline;
    white-space: initial;
}
.wpnb-bar-button {
    background-image: none;
    text-shadow: none;
    color: white;
    background-color: #434345;
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    white-space: initial;
    font-weight: 400;
    display: inline-block;
    border-radius: 3px;
    text-transform: none;
    font-size: 14px;
    padding: 5px 6px;
    border: none;
}

.a.wpnb-bar-button{
    background-image: none;
    text-shadow: none;
    color: white;
    background-color: #434345;
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    vertical-align: baseline;

}
#wpnbio-close{
    display: block;
    position: absolute;
    top: 0;
    box-sizing: initial;
    right: 0;
    cursor: pointer;
    font-size: 14px;
    line-height: 0;
    color: #040502;
    box-sizing: inherit;
}
#siteHeader {
    width: 100%;
    background: #2d2d2d;
    position: fixed;
    z-index: 10;  
    display: block;
    box-sizing: border-box;
}
#mainNavCon

#mainNav #mega-menu-wrap-main-menu .mega-menu-toggle .mega-toggle-blocks-left .mega-toggle-block {
    margin-left: 0;
}
#mega-menu-wrap-main-menu .mega-menu-toggle .mega-toggle-block {
    display: flex;
    height: 100%;
    outline: 0;
    align-self: center;
    flex-shrink: 0;
}

#mega-menu-wrap-main-menu{
    transition: none;
    border-radius: 0;
    box-shadow: none;
    background: none;
    border: 0;
    bottom: auto;
    box-sizing: border-box;
    clip: auto;
    color: #fff;
    display: block;
    float: none;
    font-family: inherit;
    font-size: 14px;
    height: auto;
    left: auto;
    line-height: 1.7;
    list-style-type: none;
    margin: 0;
    min-height: auto;
    max-height: none;
    opacity: 1;
    outline: none;
    overflow: visible;
    padding: 0;
    position: relative;
    pointer-events: auto;
    right: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    transform: none;
    top: auto;
    visibility: inherit;
    width: auto;
    word-wrap: break-word;
    white-space: normal;
}


#mega-menu-wrap-main-menu .mega-menu-toggle{
    cursor: pointer;
    line-height: 60px;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;

}

#mega-menu-wrap-main-menu .mega-menu-toggle {
    display: none;
    z-index: 1;
    cursor: pointer;
    background: #2d2d2d;
    border-radius: 2px 2px 2px 2px;
    line-height: 60px;
    height: 60px;
    text-align: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    white-space: nowrap;
}